<div class="container mt-5">
  <div class="card shadow p-4 rounded-4">
    <h2 class="mb-3 text-primary">Sistema de Gestión Universitaria</h2>

    <p>Metodologías y Tecnologías de Integracion de Sistemas</p>
    <p>Grado en Ingeniería Informática - Universidad de Alicante</p>

    <hr>

    <h4 class="mt-4 text-secondary">Integrantes</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Benjamin Caamaño Rodriguez</li>
      <li class="list-group-item">Mario Davó Candela</li>
      <li class="list-group-item">Marta Grimaldos López</li>
      <li class="list-group-item">Mercedes Suárez Canga</li>
    </ul>

    <hr>

    <h4 class="mt-4 text-secondary">Funcionalidades del sistema</h4>
    <ul>
      <li>Reserva de aulas</li>
      <li>Expedición de títulos</li>
      <li>Gestión de actas</li>
      <li>Cambio de filtros de aire</li>
    </ul>
  </div>
</div>
